body,h1,form,dl,dd,p{
	margin: 0;
	font-size: 12px;
	font-family: arial;
}
a{
	text-decoration: none;
}
ul,input{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
img{
	border: none;
	vertical-align: top;
}
input{
	margin: 0;
	padding: 0;
	border: 0;
}
option{
	padding: 0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearFix:after{
	content: "";
	display: block;
	clear: both;
}
#top-wrap{
	width: 1200px;
	height: 36px;
	margin: 0 auto;
	/*background-color: #0DAD51;*/
}
.top-left1{
	width: 103px;
	height: 35px;
	line-height: 35px;
	text-indent: 7px;
	border-left: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	/*background-color: burlywood;*/
}
.top-left1 span{
	color: #333333;
}
.top-left1 a{
	color: #0066cc;
}
.top-left2{
	width: 130px;
	height: 36px;
/*	line-height: 36px;*/
	/*background-color: lawngreen;*/
}
.top-left2 span{
	color: #333333;
	font-size: 11px;
	line-height: 36px;
	float: left;
}
.hebei{
	width: 44px;
	height: 18px;
	line-height: 36px;
	border: 1px solid #dbdbdb;
	font-size: 11px;
	color: #333333;
	float: left;
}

.top-right-list{
	width；533px;
	height: 36px;
	line-height: 36px;
	/*position: relative;*/
	/*background: blueviolet;*/
}
.top-right-list span{
	border-left: 1px solid #cccccc;
	float: left;
	height: 11px;
	margin: 14px 10px 0 0;
}
.top-right-list li{
	float: left;
	/*height: 36px;*/
}
.top-right-list a{
	color: #7a6666;
	float: left;
	padding-right: 23px;
}
.top-right-list1{
	position: relative;
}
 .top-right-list1 i{
	background: url(../雪碧图/未标题-1.jpg);
	width: 11px;
	height: 11px;
	position: absolute;
	left: 62px;
	top: 15px;
}
.top-right-list1 i{
	background-position: 0 -426px;
}
.top-right-list2{
	position: relative;
}
.top-right-list2 i{
	background: url(../雪碧图/未标题-1.jpg);
	width: 11px;
	height: 11px;
	position: absolute;
	left: 62px;
	top: 14px;
}
.top-right-list2 i{
	background-position: 0 -426px;
}
.top-right-list3{
	position: relative;
}
.top-right-list3 .phone{
	background: url(../雪碧图/未标题-1.jpg);
	width: 10px;
	height: 16px;
	position: absolute;
	left: 9px;
	top: 13px;
}
.top-right-list3 .phone{
	background-position: 0 -20px;
}
.top-right-list3 i{
	background: url(../雪碧图/未标题-1.jpg);
	width: 11px;
	height: 11px;
	position: absolute;
	left: 86px;
	top: 14px;
}
.top-right-list3 i{
	background-position: 0 -426px;
}
.top-right-list4{
	position: relative;
}
.top-right-list4 i{
	background: url(../雪碧图/未标题-1.jpg);
	width: 11px;
	height: 11px;
	position: absolute;
	left: 62px;
	top: 14px;
}
.top-right-list4 i{
	background-position: 0 -426px;
}
.top-right-list5{
	position: relative;
}
.top-right-list5 i{
	background:url(../雪碧图/未标题-1.jpg);
	width: 11px;
	height: 11px;
	position: absolute;
	left: 62px;
	top: 14px; 
}
.top-right-list5 i{
	background-position: 0 -426px;
}
.top-right-list6{
	position: relative;
}
.top-right-list6 .weibo{
	background: url(../雪碧图/未标题-1.jpg);
	width: 16px;
	height: 16px;
	position: absolute;
	left: 69px;
	top:11px;
}
.top-right-list6 .weibo{
	background-position: 0 -40px;
}
.top-right-list6{
	position: relative;
}
.top-right-list6 .weixin{
	background: url(../雪碧图/未标题-1.jpg);
	width: 16px;
	height: 16px;
	position: absolute;
	left: 93px;
	top: 14px;
}
.top-right-list6 .weixin{
	background-position: 0 -60px;
}
/*.top-right-list span{
	color: #cccccc;
}*/
.bag{
	padding-left: 20px;
}
.hands{
	padding-left: 25px;
}
.serve,.station{
	padding-left: 8px;
}
.about{
	padding-left: 6px;
	padding-right: 24px;
}
#header-wrap{
	width: 1200px;
	height: 133px;
	margin: 0 auto;
	/*background-color: #00FF99;*/
}
.header-top{
	width: 1200px;
	height: 101px;
	/*background: #5B88B8;*/
}
.header-top-left{
	width: 210px;
	height: 78px;
	position: relative;
}
h1{
	background: url(../雪碧图/未标题-2.jpg);
	width: 210px;
	height: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
	text-indent: -2000px;
	background-position: 0 -460px;
}
.header-top-middle{
	width: 750px;
	height: 78px;
	/*background: #336C6C;*/
}
.header-top-right{
	width: 240px;
	height: 100px;
	position: relative;
}
/*.header-top-right a{
	margin-left: 4px;
	margin-top: 15px;
}*/
.header-top-right1{
	width: 60px;
	height: 43px;
	border: 1px solid #f2f2f2;
	position: relative;
	margin-left: 34px;
	margin-top: 19px;
}
.header-top-right2{
	width: 56px;
	height: 43px;
	border: 1px solid #f2f2f2;
	position: relative;
	margin-top: 19px;
}
.header-top-right3{
	width: 87px;
	height: 50px;
}
.header-top-right1 i{
	background: url(../雪碧图/未标题-2.jpg);
	width: 22px;
	height: 15px;
	position: absolute;
	left: 19px;
	top: 4px;
}
.header-top-right1 i{
	background-position: 0 -150px;
}
.header-top-right1 a{
	font-size: 11px;
	color: #999999;
	margin-left: 18px;
	margin-top: 25px;
}
.header-top-right2 i{
	background: url(../雪碧图/未标题-2.jpg);
	width: 22px;
	height: 14px;
	position: absolute;
	left: 19px;
	top: 5px;
}
.header-top-right2 i{
	background-position: 0 -165px;
}
.header-top-right3  i{
	background: url(../雪碧图/未标题-2.jpg);
	width: 87px;
	height: 49px;
	position: absolute;
	left: 154px;
	top: 15px;
}
.header-top-right3  i{
	background-position: 0 -180px;
}
.header-top-right2 a{
	font-size: 11px;
	color: #999999;
	margin-left: 5px;
	margin-top: 25px;
}
.header-bottom{
	width:1200px;
	height: 35px;
	/*margin-left: 18px;*/
}
.header-bottom-left{
	width: 210px;
	height: 35px;
	background-color: #ff3c3c;
	position: relative;
}
.header-bottom-middle{
	width: 750px;
	height: 35px;
	/*margin-left: 18px;*/
	text-indent: 18px;
}
.header-bottom-right{
	width: 240px;
	height: 35px;
	position: relative;
}
.header-bottom-left a{
	color: #ffecc3;
	line-height: 35px;
	margin-left: 42px;
}
.header-bottom-left i{
	background: url(../雪碧图/未标题-2.jpg);
	width: 9px;
	height: 6px;
	position: absolute;
	left: 188px;
	top: 19px;
}
.header-bottom-left i{
	background-position: 0 -441px;
}
.header-bottom-middle a{
	line-height: 35px;
	margin-right: 41px;
}
.header-bottom-middle .red{
	color: #ff3c3c;
	/*margin-left: 18px;*/
}
.header-bottom-middle .black{
	color: #333374;
}
.header-bottom-middle .index{
	margin-left: 18px;
}
.header-bottom-right i{
	background: url(../雪碧图/未标题-2.jpg);
	width: 34px;
	height: 39px;
	position: absolute;
	left: 40px;
	height: 39px;
}
.header-bottom-right i{
	background-position: 0 -230px;
}
.header-top-middle1{
	width：530px;
	height: 32px;
	margin-left: 110px;
	margin-top: 21px;
}
.header-top-middle2{
	width: 530px;
	height: 18px;
	margin-left: 110px;
	margin-top: 6px;
}
.header-top-middle2 a{
	font-size: 11px;
	color: #9999bb;
	margin-right: 9px;
}
#shopping{
	width: 68px;
	height: 28px;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}
#import{
	width: 456px;
	height: 28px;
	border: 2px solid #ff3c3c;
}
#button{
	width: 98px;
	height: 32px;
	background: #ff3c3c;
	margin-left: -4px;
}
.firstScreen{
	width: 100%;
	height: 585px;
	background: url(../img/listscreen-1.jpg) no-repeat center;
	margin: 0 auto;
}
/*.section-main-color{
	width: 100%;
	background-color: #1e243c;
	position: relative;
}
.ten-block{
	width: 100%;
	height: 61px;
	background:  #1e243c;
	margin: auto;
}
.ten-block a{
	margin-top: 27px;
	font-size: 56px;
	display: block;
	color: #FFFFFF;
	font-weight: bold;
}*/
.floor1{
	width: 100%;
	height: 485px;
	background-color: #1e243c;
}
.floor1_top{
	width: 100%;
	height: 95px;
	background-color: #1e243c;
	margin: 0 auto;
}
.floor1_top1{
	width: 581px;
	height: 68px;
	margin: 0 auto;
}
.floor1-bottom-box{
	width: 992px;
	height: 390px;
	margin: 0 auto;
}
.floor1-bottom{
	width: 248px;
	height: 390px;
	margin: 0 auto;
	background-color: #FFFFFF;
}
.floor1-bottom-pic1{
	width: 248px;
	height: 245px;
}
.floor1-bottom-word1{
	width: 248px;
	height: 60px;
}
.floor1-bottom-word1 a{
	display: inline-block;
	font-size: 12px;
	color: #000000;
	line-height: 17px;
	margin-top: 15px;
	margin-left: 6px;
	margin-right: 12px;
	margin-bottom: 5px;
}
.floor1-bottom-pic2{
	width: 248px;
	height: 17px;
}
.floor1-bottom-pic3{
	width: 248px;
	height: 67px;
	margin-top: 16px;
	margin-left: 35px;
}
.floor2{
	width: 100%;
	height: 2012px;
	background-color: #1e243c;
}
.floor2_top{
	width: 100%;
	height: 195px;
	margin: 0 auto;
	background-color: #1e243c;
}
.floor2_top1{
	width: 584px;
	height: 195px;
	margin: 0 auto;
}
.floor2-bottom-box{
	width: 992px;
	height: 360px;
	margin: 0 auto;
}
.floor2-bottom{
	width: 248px;
	height: 350px;
	margin: 0 auto;
	background-color: #FFFFFF;
	border-bottom: 13px solid #1e243c ;
}
.floor2-bottom-pic1{
	width: 248px;
	height: 245px;
}
.floor2-bottom-word111111{
	width: 240px;
	height: 44px;
	border-right: 6px solid #FFFFFF;
}
.floor2-bottom-word111111 a{
	display: inline-block;
	font-size: 12px;
	color: #000000;
	line-height: 16px;
	margin-top: 8px;
	margin-left: 6px;
	margin-right: 12px;
	margin-bottom: 8px;
}
.floor2-bottom-word1{
	width: 240px;
	height: 44px;
	border-right: 6px solid #1e243c;
}
.floor2-bottom-word1 a{
	display: inline-block;
	font-size: 12px;
	color: #000000;
	line-height: 16px;
	margin-top: 8px;
	margin-left: 6px;
	margin-right: 12px;
	margin-bottom: 8px;
}
.floor2-bottom-pic2{
	width: 246px;
	height: 61px;
}
.floor3{
	width: 100%;
	height: 1917px;
	background-color: #1e243c;
}
.floor3_top{
	width: 100%;
	height: 114px;
	margin: 0 auto;
	background-color: #1e243c;
}
.floor3_top1{
	width: 579px;
	height: 115px;
	margin: 0 auto;
}
.floor4{
	width: 100%;
	height: 1582px;
	background-color: #1e243c;
}
.floor4_top{
	width: 100%;
	height: 130px;
	margin: 0 auto;
	background-color: #1e243c;
}
.floor4_top1{
	width: 579px;
	height: 184px;
	margin: 0 auto;
}
.floor5{
	width: 100%;
	height: 1721px;
	background-color: #1e243c;
}
.floor5_top{
	width: 100%;
	height: 180px;
	margin: 0 auto;
	background-color: #1e243c;
}
.floor5_top1{
	width: 579px;
	height: 185px;
	margin: 0 auto;
}
.floor5-bottom-box{
	width: 986px;
	height: 308px;
	margin: 0 auto;
}
.floor5-bottom{
	width: 328px;
	height: 308px;
	margin: 0 auto;
	background-color: #FFFFFF;
	/*border-bottom: 13px solid #1e243c ;*/
}
.floor5-bottom-pic1{
	width: 328px;
	height: 208px;
}
.floor5-bottom-word1{
	width: 323px;
	height: 55px;
	border-right: 6px solid #1e243c;
}
.floor5-bottom-word1 a{
	display: inline-block;
	font-size: 14px;
	color: #000000;
	line-height: 22px;
	margin-top: 10px;
	margin-left: 12px;
	margin-right: 22px;
	margin-bottom: 10px;
}
.floor5-bottom-pic2 img{
	width: 328px;
	height: 45px;
}
.floor6{
	width: 100%;
	height: 1328px;
	background-color: #1e243c;
}
.floor6_top{
	width: 100%;
	height: 100px;
	margin: 0 auto;
	background-color: #1e243c;
}
.floor6_top1{
	width: 579px;
	height: 185px;
	margin: 0 auto;
}
.floor5-bottom-box{
	width: 986px;
	height: 308px;
	margin: 0 auto;
}
.floor5-bottom{
	width: 328px;
	height: 308px;
	margin: 0 auto;
	background-color: #FFFFFF;
	/*border-bottom: 13px solid #1e243c ;*/
}
.floor6-bottom-pic1 img{
	width: 328px;
	height: 208px;
}
.floor5-bottom-word1{
	width: 323px;
	height: 55px;
	border-right: 6px solid #1e243c;
}
.floor5-bottom-word1 a{
	display: inline-block;
	font-size: 14px;
	color: #000000;
	line-height: 22px;
	margin-top: 10px;
	margin-left: 12px;
	margin-right: 22px;
	margin-bottom: 10px;
}
.floor5-bottom-pic2 img{
	width: 328px;
	height: 45px;
}
.floor7{
	width: 100%;
	height: 2141px;
	background-color: #1e243c;
}
.floor7_top{
	width: 100%;
	height: 238px;
	margin: 0 auto;
	background-color: #1e243c;
}
.floor7_top1{
	width: 581px;
	height: 232px;
	margin: 0 auto;
}
.floor7-bottom-box{
	width: 960px;
	height: 383px;
	margin: 0 auto;
}
.floor7-bottom{
	width: 240px;
	height: 383px;
}
.floor7-bottom-pic1{
	width: 240px;
	height: 218px;
}
.floor7-bottom-word1 a{
	display: block;
	width: 220px;
	height: 40px;
	line-height: 20px;
	border-right: 20px solid #1e243c;
	background-color: #FFFFFF;
}
.floor7-bottom-word1 span{
	display: block;
	width: 220px;
	/*height: 50px;
	line-height: 50px;*/
	border-right: 20px solid #1e243c;
	background-color: #FFFFFF;
}
.price{
	height: 30px;
	line-height: 30px;
}
.price1{
	height: 12px;
	line-height: 12px;
}
.floor7-bottom-pic2 img{
	width: 220px;
	height: 76px;
}
.floor8{
	width: 100%;
	height: 2141px;
	background-color: #1e243c;
}
.floor8_top{
	width: 100%;
	height: 138px;
	margin: 0 auto;
	background-color: #1e243c;
}
.floor8_top1{
	width: 581px;
	height: 132px;
	margin: 0 auto;
}
.floor9{
	width: 100%;
	height: 2141px;
	background-color: #1e243c;
}
.floor9_top{
	width: 100%;
	height: 260px;
	margin: 0 auto;
	background-color: #1e243c;
}
.floor9_top1{
	width: 581px;
	height: 132px;
	margin: 0 auto;
}
.floor10{
	width: 100%;
	height: 2088px;
	background-color: #1e243c;
}
.floor10_top{
	width: 100%;
	height: 140px;
	margin: 0 auto;
	background-color: #1e243c;
}
.floor10_top1{
	width: 581px;
	height: 132px;
	margin: 0 auto;
}
.floor11{
	width: 100%;
	height: 2055px;
	background-color: #1e243c;
}
.floor11_top{
	width: 100%;
	height: 140px;
	margin: 0 auto;
	background-color: #1e243c;
}
.floor11_top1{
	width: 581px;
	height: 132px;
	margin: 0 auto;
}
.floor12{
	width: 100%;
	height: 515px;
	background-color: #1e243c;
}
.floor12_top{
	width: 100%;
	height: 140px;
	margin: 0 auto;
	background-color: #1e243c;
}
.floor12_top1{
	width: 581px;
	height: 132px;
	margin: 0 auto;
}
.floor12_main{
	width: 990px;
	height: 361px;
	margin: 0 auto;
}
.floor12_main1{
	width: 330px;
	height: 361px;
}
.floor12_main2{
	width: 330px;
	height: 361px;
}
.floor12_main3{
	width: 330px;
	height: 361px;
}
.floor13{
	width: 100%;
	height: 1100px;
	background-color: #1e243c;
}
.floor13_top{
	width: 100%;
	height: 120px;
	margin: 0 auto;
	background-color: #1e243c;
}
.floor13_top1{
	width: 581px;
	height: 132px;
	margin: 0 auto;
}
.floor13_main{
	width: 992px;
	height: 329px;
	margin: 0 auto;
}
.floor13_main1{
	width: 248px;
	height: 329px;
}
.floor13_main2{
	width: 248px;
	height: 329px;
}
.floor13_main3{
	width: 248px;
	height: 329px;
}
.floor13_main4{
	width: 248px;
	height: 329px;
}
.floor14{
	width: 100%;
	height: 850px;
	background-color: #1e243c;
}
.floor14_top{
	width: 100%;
	height: 120px;
	margin: 0 auto;
	background-color: #1e243c;
}
.floor14_top1{
	width: 581px;
	height: 132px;
	margin: 0 auto;
}
.floor14_main{
	width: 1020px;
	height: 370px;
	margin: 0 auto;
}
.floor14_main1{
	width: 509px;
	height: 371px;
}
.floor14_main2{
	width: 509px;
	height: 371px;
}
.floor15{
	width: 100%;
	height: 1380px;
	background-color: #1e243c;
}
.floor15_top{
	width: 100%;
	height: 120px;
	margin: 0 auto;
	background-color: #1e243c;
}
.floor15_top1{
	width: 581px;
	height: 132px;
	margin: 0 auto;
}
.floor15_main{
	width: 985px;
	height: 965px;
	margin: 0 auto;
}
.floor15_main1{
	width: 246px;
	height: 320px;
}
.floor15_main2{
	width: 246px;
	height: 320px;
}
.floor15_main3{
	width: 246px;
	height: 320px;
}
.floor15_main4{
	width: 246px;
	height: 320px;
}
.floor15_bottom img{
	width: 983px;
	height: 301px;
}
.list-bottom-top{
	width: 100%;
	height: 966px;
	background-color: #FFFFFF;
}
.list-bottom-toptop{
	width: 100%;
	height: 25px;
	margin: 0 auto;
	background-color: #FFFFFF;
}
.list-bottom-top1{
	width: 982px;
	height: 25px;
	margin: 0 auto;
}
.list-bottom-top2{
	width: 982px;
	height: 70px;
	margin: 0 auto;
}
.list-bottom-top3{
	width: 982px;
	height: 40px;
	margin: 0 auto;
}
.list-bottom-top4{
	width: 998px;
	height: 342px;
	margin: 0 auto;
}
.ft-wrap{
	width: 1155px;
	height: 490px;
	padding-left: 45px;
	margin: 0 auto;
	/*background-color: lightsalmon;*/
}
.ft-top{
	width: 1155px;
	height: 66px;
	margin-top: 30px;
	margin-bottom: 30px;
	/*background-color: lightblue;	*/
}
.ft-top-list1{
	width: 295px;
	height: 66px;
	/*background-color: aqua;*/
}
.ft-top-list2{
	width: 290px;
	height: 66px;
	/*background-color: forestgreen;*/
}
.ft-top-list3{
	width: 285px;
	height: 66px;
	/*background-color: aqua;*/
}
.ft-top-list4{
	width: 285px;
	height: 66px;
	/*background-color: #3E73FF;*/
}
.ft-top-listleft1{
	width: 80px;
	height: 66px;
}
.ft-top-listright1{
	width: 215px;
	height: 66px;
}
.ft-top-listright1-top{
	font-size: 16px;
	color: #333333;
	line-height: 38px;
	margin-top: 3px;
}
.ft-top-listright1-bottom{
	color: #999999;
	line-height: 12px;
}
.ft-top-listleft2{
	width: 80px;
	height: 66px;
}
.ft-top-listright2{
	width: 210px;
	height: 66px;
}
.ft-top-listright2-top{
	font-size: 16px;
	color: #333333;
	line-height: 38px;
	margin-top: 3px;
}
.ft-top-listright2-bottom{
	color: #999999;
	line-height: 12px;
}
.ft-top-listleft3{
	width: 80px;
	height: 66px;
}
.ft-top-listright3{
	width: 205px;
	height: 66px;
}
.ft-top-listright3-top{
	font-size: 16px;
	color: #333333;
	line-height: 38px;
	margin-top: 3px;
}
.ft-top-listright3-bottom{
	color: #999999;
	line-height: 12px;
}
.ft-top-listleft4{
	width: 80px;
	height: 66px;
}
.ft-top-listright4{
	width: 205px;
	height: 66px;
}
.ft-top-listright4-top{
	font-size: 16px;
	color: #333333;
	line-height: 38px;
	margin-top: 3px;
}
.ft-top-listright4-bottom{
	color: #999999;
	line-height: 12px;
}
.ft-middle{
	width: 1155px;
	height: 205px;
}
.ft-middle-left{
	width: 835px;
	height: 205px;
}
.ft-middle-right{
	width: 320px;
	height: 205px;
	position: relative;
}
.ft-middle-left dl{
	line-height: 24px;
}
.ft-middle-left dl dt{
	font-weight: bold;
	margin-bottom: 3px;
}
.ft-middle-left dd a{
	color: #666666;
}
.ft-middle-leftdl1{
	padding-right: 112px;
}
.ft-middle-leftdl2{
	padding-right: 107px;
}
.ft-middle-leftdl3{
	padding-right: 84px;
}
.ft-middle-leftdl4{
	padding-right: 95px;
}
.ft-middle-leftdl5{
	padding-right: 104px;
}
.ft-middle-right1{
	position: absolute;
	left: 0px;
	top: 30px;
}
.ft-middle-right2{
	position: absolute;
	left: 170px;
	top: 30px;
}
.ft-bottom p{
	text-align: center;
	line-height: 27px;
}
.ft-bottom a{
	color: #666666;
}
.ft-bottom div{
	text-align: center;
	margin-top: 10px;
}
.firstScreen-right-form{
	width: 240px;
	height: 188px;
}
