body{
	overflow: hidden;
}
#container{
	padding: 0 47px;
	width: 1246px;
	margin-top: 100px;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 3s linear;
	}
#header{
	height: 52px;
	padding: 24px 0;
	position: fixed;
	top: 0px;
	left: 50%;
	width: 1246px;
	margin-left: -636px;
	background: #fff;
	z-index: 50;
	}
#header #logo{
	width:135px;
	height: 48px;
	margin-right: -2px;
	margin-top: 2px;
	display: block;
	float: left;
	margin-left: -46px;
	}
#header #logo img{
	float: left;
	}
#header ul{
	padding-top: 10px;
	}
#header ul .border{
	border-right: 1px solid #E5E5E5;
	}
#header ul li{
	padding: 0 50px;
	width:auto;
	height: 30px;
	float: left;
	}
#header ul li a{
	color: #424241;
	font-size: 18px;
	}
#header ul li p{
	font-size: 12px;
	font-family: cursive;
	color: #000;
	}
#viewport{
	width: 1246px;
	overflow: hidden;
	}
#viewport .list{
	width: 100%;
	height:502px;
	float: left;
	}
#viewport .list li{
	width: 1246px;
	height:502px;
	float: left;
	}
#viewport .list img{
	width: 100%;
	height: 502px;
	}
#content{
	width: 100%;
	margin-top: 91px;
	height: 452px;
	padding-top: 50px;
	}
#content .title a{
	display: inline-block;
	width: 60px;
	line-height: 38px;
	color: #000;
	opacity: .7;
	font-size: 14px;
	margin-right: 20px;
	margin-top: 5px;
	}
#content .title .border{
	border-bottom: 1px solid #BFBFBF;
	}
#ul_list{
	overflow: hidden;
	width: 100%;
	height: 400px;
	margin-top: 20px;
	position: relative;
	}
#ul_list span{
	color: #bfbfbf;
	}
.ul_list_div{
	width: 3732px;
	height: 350px;
	margin-top: 40px;
	position: absolute;
	left:-1244px;top:0;
	}
.picture{
	width: 1244px;
	height: 350px;
	margin-top: 40px;
	position: absolute; 
	left: 1244px;top: 0px;
	}
.picture li{
	float: left;
	width: 310px;
	margin-right: 1px;
	position: relative;
	}
.picture li:hover .wedding{
	margin-top: 60px;
	transition: 0.5s;
	}
.picture li img{
	width: 100%;
	height: 100%;
	}
.picture .wedding{
	margin-top: 30px;
	width: 310px;
	text-align: center;
	}
.picture .wedding p{
	font-size: 14px;
	line-height: 30px;
	}
.picture .wedding span{
	display: inline-block;
	color: #ccc;
	line-height: 20px;
	font-size: 12px;
}
.picturess{
	width: 1244px;
	height: 350px;
	margin-top: 40px;
	position: absolute; 
	left: 0;top: 0px;
	}
.picturess li{
	float: left;
	width: 310px;
	margin-right: 1px;
	position: relative;
	}
.picturess li:hover .wedding{
	margin-top: 60px;
	transition: 0.5s;
	}
.picturess li img{
	width: 100%;
	height: 100%;
	}
.picturess .wedding{
	margin-top: 30px;
	width: 310px;
	text-align: center;
	}
.picturess .wedding p{
	font-size: 14px;
	line-height: 30px;
	}
.picturess .wedding span{
	display: inline-block;
	color: #ccc;
	line-height: 20px;
	font-size: 12px;
	}
.pictures{
	width: 1244px;
	height: 350px;
	margin-top: 40px;
	position: absolute;
	left: 2488px;
	top: 0px;
	}
.pictures li{
	float: left;
	width: 310px;
	margin-right: 1px;
	position: relative;
	}
.pictures li:hover .wedding{
	margin-top: 60px;
	transition: 0.5s;
	}
.pictures li img{
	width: 100%;
	height: 100%;
	}
.pictures .wedding{
	margin-top: 30px;
	width: 310px;
	text-align: center;
	}
.pictures .wedding p{
	font-size: 14px;
	line-height: 30px;
	}
.pictures .wedding span{
	display: inline-block;
	color: #ccc;
	line-height: 20px;
	font-size: 12px;
	}
#ul_list .left{
	background: url(../img/jtl.png);
	width:80px;
	height: 80px;
	display: block;
	margin-left: 0px;
	margin-top: -40px;
	position: absolute;
	top:40%;
	left: 0px;
	}
#ul_list .right{
	background: url(../img/jtr.png);
	width:80px;
	height: 80px;
	display: block;
	margin-left: 0px;
	margin-top: -40px;
	position: absolute;
	top:40%;
	right: 0px;
	}
#activity{
	width:100%;
	height: 442px;
	padding-top: 60px;
	}
#activity .left_list .border{
	border-bottom: 1px solid #BFBFBF;
	}
#activity .block_bigg{
	width:274px;
	height: 502px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#activity .block_bigg img{
	width:274px;
	height: 502px;
	opacity: 0;
}
#activity .block_bigg .block{
	width:178px;
	height: 231px;
	padding: 99px 53px 172px 43px;
	position: absolute;
	top: 110px;
	left: 0;
	transform: translateY(-100px);
	transition: all 1s;
}
.section{
	width: 274px;
	height: 502px;
	background: #000000;
	opacity: 0.5;
	position:absolute;
	top:0;
	left:0;
}
#activity .left_list{
	float: left;
	}
#activity .left_list ul{
	width:150px;
	margin-top: 90px;
	float: left;
	}
#activity .left_list li{
	display: inline-block;
	width: 60px;
	line-height: 38px;
	color: #000;
	opacity: .7;
	font-size: 14px;
	margin-right: 20px;
	margin-top: 5px;
	}
#activity .border{
	border-bottom: 1px solid #BFBFBF;
	padding-bottom: 5px;
	}
#activity .right_wrap{
	overflow: hidden;
	width: 1096px;
	height: 502px;
	position: relative;
	}
#activity .right_wrap li{
	width:178px;
	height: 231px;
	padding: 99px 53px 172px 43px;
	}
#activity .right_wrap li .block time{
	font-size: 14px;
	}
#activity .right_wrap li .block .ptop{
	font-size: 16px;
	line-height: 24px;
	color: #666666;
	}
#activity .right_wrap li .block .pbottom{
	line-height: 26px;
	height: 80px;
	overflow: hidden;
	}
.about_box{
	width: 4384px;
	height: 100%;
	float: left;
	position: relative;
	left: -1096px;
}
.about_box .right_list{
	width: 25%;
	height: 502px;
	float: left;
	}
.right_wrap .right_list li{
	float: left;
	width: 274px;
	position: relative;
	}
.right_wrap .right_list li .pape:hover{
	margin-top: 60px;
	transition: 0.5s;
	opacity: .5;
	}
.right_wrap .right_list li .block{
	width:240px;
	height: 260px;
	}
.right_wrap .right_list li time{
	display: block;
	font-size: 18px;
	color: grey;
	}
.right_wrap .right_list li .ptop{
	font-size: 18px;
	height: 60px;
	line-height: 28px;
	margin-bottom: 50px;
	color: black;
	}
.right_wrap .right_list li .pbottom{
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	color: darkgray;
	}
.right_wrap .left_dot{
	background: url(../img/jtl.png);
	width:80px;
	height: 80px;
	display: block;
	margin-left: 0px;
	margin-top: -40px;
	position: absolute;
	top:40%;
	left: 0px;
	opacity: 0;
	transition: all 1s;
	}
.right_wrap .right_dot{
	background: url(../img/jtr.png);
	width:80px;
	height: 80px;
	display: block;
	margin-left: 0px;
	margin-top: -40px;
	position: absolute;
	top:40%;
	right: 0px;
	opacity: 0;
	transition: all 1s;
	}
#consult{
	width:100%;
	margin-top: 91px;
	height: 412px;
	padding-top: 90px;
	}
#consult .consult_left .border{
	border-bottom: 1px solid #BFBFBF;
	padding-bottom: -5px;
}
.consult_left{
	width:150px;
	height: 502px;
	float: left;
	}
.consult_right{
	width:1096px;
	height: 502px;
	float: right;
	}
.consult_left a{
	display: inline-block;
	width: 60px;
	line-height: 38px;
	color: #000;
	opacity: .7;
	font-size: 14px;
	margin-right: 20px;
	margin-top: 5px;
	}
.consult_right .nav{
	width:1096px;
	height: 130px;
	margin-bottom: 40px;
	}
.consult_right_left{
	width:580px;
	height: 202px;
	float: left;
	}
.consult_right_right{
	width:410px;
	height: 231px;
	float: right;
	}
.consult_right_left .address{
	width:230px;
	margin-right: 60px;
	float: left;
	}
.consult_right_left .title .p1{
	color: #4c4c4c;
	font-size: 14px;
	}
.consult_right_left .title .p2{
	color: #626262;
	font-size: 14px;
	margin-top: 5px;
	}
.consult_right_left .post .p1{
	color: #6a6a6a;
	font-size: 14px;
	line-height: 30px;
	margin-top: 40px;
	}
.consult_right_left .post .p2{
	color: #6a6a6a;
	font-size: 12px;
	line-height: 24px;
	}
.consult_right_left .post{
	margin-top: 40px;
	}
.consult_right_left .post b{
	font-size: 15px;
	color: #666;
	font-weight: bold;
	line-height: 24px;
	}
.consult_right_right .title .p1{
	color: #4c4c4c;
	font-size: 14px;
	}
.consult_right_right .title .p2{
	color: #626262;
	font-size: 14px;
	margin-top: 5px;
	}
#about{
	width:100%;
	margin-top:91px;
	height: 502px;
	}
#about .about_left .border{
	border-bottom: 1px solid #BFBFBF;
	padding-bottom: 5px;
}
.about_left{
	width:150px;
	height: 422px;
	float: left;
	padding-top: 80px;
	}
.about_left ul{
	font-size: 13px;
	margin-top:10px;
	}
.about_left li{
	display: inline-block;
	width: 60px;
	line-height: 38px;
	color: #000;
	opacity: .7;
	font-size: 14px;
	margin-right: 20px;
	margin-top: 5px;
	}
.about_right{
	width:1096px;
	height: 442px;
	float: right;
	padding-top: 60px;
	}
.about_right .about_right_img{
	width:356px;
	height: 300px;
	float: left;
	margin-right: 40px;
	}
.about_right .about_right_word{
	width:700px;
	height: 300px;
	float: right;
	margin-top: 40px;
	}
.about_right .about_right_word .p1{
	color: #333;
	font-size: 20px;
	}
.about_right .about_right_word .p2{
	color: #999;
	font-size: 13px;
	margin-top: 6px;
	}
.about_right .about_right_word .p3{
	color: #888;
	line-height: 24px;
	margin-top: 40px;
	font-size: 13px;
	}
.about_right_dot{
	width:1096px;
	height: 80px;
	margin-top: 400px;
	}
.about_right_dot div{
	height: 50px;
	width:100px;
	padding: 20px 30px;
	display: inline-block;
	float: right;
	}
.about_right_dot div:hover{
	background: #333333;
	color: #FFFFFF;
	}
.about_right_dot span{
	color: #666666;
	font-size: 14px;
	}
.about_right_dot p{
	color: #bcbcbc;
	font-size: 12px;
	margin-top: 5px;
	}

